name: AQI Pipeline

# Trigger workflow on push to main branch or manually
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run_pipeline:
    runs-on: ubuntu-latest

    env:
      HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}

    steps:
    # 1️⃣ Checkout repo
    - name: Checkout Repository
      uses: actions/checkout@v3

    # 2️⃣ Setup Python
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    # 3️⃣ Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4️⃣ Fetch Data
    - name: Run Fetch Data
      run: |
        python fetch_data.py

    # 5️⃣ Preprocess Data
    - name: Run Preprocessing
      run: |
        python preprocess.py

    # 6️⃣ Train Model
    - name: Train Model
      run: |
        python train_model.py

    # 7️⃣ Upload Model & Scaler to HopsWorks
    - name: Upload Model & Scaler to HopsWorks
      run: |
        python run_pipeline.py

    # 8️⃣ Run Predictions
    - name: Run Predict AQI
      run: |
        python predict_aqi.py
    - name: Run Predict AQI
      run: |
        python predict_aqi.py
